body {
    background-color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 800;   
}

div {
    text-align: center;
    font-size: large;
}